<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lit Thoughts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navHeader">
        <a id="siteTitle" href="/">
            <h1>Lit Thoughts</h1>
        </a>
        <p>Ideas so hot, it might catch fire</p>

        <a id="homeLink" href="/">Home</a>
        <a id="postLink" href="/new">Post</a>
    </nav>