<form id="writeNewPost" action="/api/posts/write" method="POST">
    <div>
        <label for="title">Post Title</label>
        <input type="text" id="title" name=post[title] placeholder="New Post" required>
    </div>
    <div>
        <label for="content">Post content</label>
        <textarea id="content" name=post[content] rows="30" cols="90" required>Lit content goes here...</textarea>
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name=post[author] placeholder="Post author" required>
    </div>
    <button type="submit"><b>Submit</b></button>
</form>