<form id="writeNewPost" action="/posts/write" method="POST">
    <div id="postTitle">
        <label for="title">Title</label>
        <input type="text" id="title" name=post[title] placeholder="Fiery Title" required>
    </div>
    <textarea id="content" name=post[content] rows="30" cols="70" placeholder="Lit content goes here..." required></textarea>
    <div id="postAuthor">
        <label for="author">Author</label>
        <input type="text" id="author" name=post[author] placeholder="Post author" required>
        <button type="submit"><b>Submit</b></button>
    </div>
</form>