@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$website-maxWidth: 1200px;
$background-color: #301a0b;
$transparent-background-color: rgba(37, 13, 0, 0.397);
$main-color: #f3ff86;
$accent-color: #ff661f;
$super-accent-color: rgb(215, 0, 0);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    color: $main-color;
}

::placeholder {
    color: $main-color;
    opacity: 0.5;
}

/* Scroll */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: $main-color;
}
::-webkit-scrollbar-thumb {
    background: $accent-color;
}

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 98vh;
    width: 98vw;
    top: 1vh;
    left: 1vw;
    background-color: $background-color;
    min-width: 760px;
    overflow: hidden;
}

#navHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 40px 40px;
    grid-template-areas: 
    "top-left top-left title title top-right top-right"
    "left left slogan slogan right right"
    "bottom-left bottom-left home post bottom-right bottom-right";
    margin: auto;
    border-bottom: $accent-color solid;

    #siteTitle {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 265px;
        
        h1 {
            font-size: 2.5em;
            -webkit-text-stroke: 1.2px $super-accent-color;
        }
    }
    #siteTitle:hover > h1{
        color: $accent-color;
    }

    p {
        grid-area: slogan;
        text-align: center;
    }

    #homeLink {
        grid-area: home;
    }

    #postLink {
        grid-area: post;
    }

    #homeLink, #postLink {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke: 0.5px $super-accent-color;
        font-size: 17px;
    }
    #homeLink:hover, #postLink:hover {
        color: $accent-color;
        border-bottom: 5px $accent-color solid;
    }
}

main {
    height: 100%;
    width: 100%;
    max-width: $website-maxWidth;
    margin: auto;
    padding: 30px;
    max-height: 720px;
    overflow: auto;

    a {
        color: $accent-color;
    }
}

.post-snippet {
    max-height: 135px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px dashed $accent-color;
    position: relative;
    max-width: 840px;
    margin: auto;

    .tooltip-text {
        font-weight: bold;
        visibility: hidden;
        width: 200px;
        background-color: $main-color;
        color: $background-color;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.post-snippet:hover {
    padding: 7px;
    border-bottom: 3px dashed $accent-color;
}

.post-snippet:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.post-snippet:hover h2 {
    font-size: 28px;
    -webkit-text-stroke: 1.15px $super-accent-color;
}

.post-snippet:hover div>div {
    bottom: 44px;
}

.post-snippet > div {
    border: 2px dashed $accent-color;
    border-top: none;
    border-bottom: none;
    margin: 0 0 60px 0;
    padding: 10px;
    position: relative;
    top: 40px;
    background: $transparent-background-color;

    div {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 40px;
        right: 8px;

        h2 {
            color: $accent-color;
            border-bottom: 2px dashed $accent-color;
            -webkit-text-stroke: 0.8px $super-accent-color;
        }
        p {
            border-right: 2px dashed $accent-color;
            position: relative;
            left: 20px;
            padding-right: 20px;
        }
    }
    #postAuthorName {
        position: relative;
        bottom: 25px;
        
        span {
            border-bottom: dotted 2px $main-color;
            color: $accent-color;
        }
    }
}

#writeNewPost {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: auto;
    overflow: auto;

    label {
        font-size: 17px;
    }

    input {
        border: none;
        background: $transparent-background-color;
        border: $accent-color solid 0.5px;
        height: 40px;
        width: 460px;
        max-width: 440px;
        margin: 0 5px 5px 20px;
        text-align: center;
        font-size: 15px;
    }

    textarea {
        resize: none;
        background: $transparent-background-color;
        border: $accent-color solid 0.5px;
        padding: 15px;
        font-size: 15px;
        white-space: pre-wrap;
    }

    #postTitle, #postAuthor {
        display: flex;
        width: 640px;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0 10px 0;
    }

    button {
        background-color: $transparent-background-color;
        width: 200px;
        height: 48px;
        margin-left: 15px;
        margin-right: 10px;
        border: none;
        border: $accent-color 2px solid;
    }
}

.blog-post {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    overflow: auto;

    div {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 40px;
        right: 8px;
        width: 100%;

        h2 {
            color: $accent-color;
            border-bottom: 2px dashed $accent-color;
            -webkit-text-stroke: 0.8px $super-accent-color;
        }
        p {
            position: relative;
            left: 20px;
            padding-right: 20px;
        }
    }

    #postAuthorName {
        position: relative;
        bottom: 25px;
        
        span {
            border-bottom: dotted 2px $main-color;
            color: $accent-color;
        }
    }

    a {
        margin-bottom: 20px;
    }

    .blog-content {
        top: 0px;
        white-space: pre-wrap;
    }
}


footer {
    border-top: $accent-color solid;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}
