<%- include("./partials/header.ejs") %>
<main>
    <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
        <%- include("./partials/post.ejs", {post: post}) %>
    <% }) %>
    <% } %>
</main>
<%- include("./partials/footer.ejs") %>