<%- include("./partials/header.ejs") %>
<main>
    <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
        <a href="/api/post/<%= post._id %>">
            <%- include("./partials/post.ejs", {post: post}) %>
        </a>
    <% }) %>
    <% } %>
</main>
<%- include("./partials/footer.ejs") %>