<%- include("./partials/header.ejs") %>
    <main>
        <h3>Write here a new blog post</h3>
        <%- include("./partials/new-blog_post.ejs") %>
    </main>
<%- include("./partials/footer.ejs") %>